.DS_Store

# Python
venv/
__pycache__/
*.pyc

# Google credentials
application_default_credentials.json

# Environment variables
.env

# dbt
dbt_cms/profiles.yml
dbt_cms/target/
dbt_cms/dbt_packages/
logs/

# Large data files
*.csv
*.zip
**/.DS_Store
